---
import HardSkills from '../components/HardSkills.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Rachhen'>
  <section class='px-4'>
    <div class='flex flex-col gap-4'>
      <p class='text-[16px] text-neutral-700'>
        I love making new apps that change how things work. I've been learning,
        working hard, studying, and practicing new skills in tech to push myself
        to do even better and stand out from the crowd.
      </p>
    </div>
    <h2 class='mb-4 mt-7 text-3xl font-semibold'>Work Experience</h2>
    <div>
      <h3 class='mb-2 text-xl font-semibold'>Software Developer</h3>
      <h4 class='font-medium text-neutral-700'>
        <span class='rounded-md bg-primary px-2 text-xs text-white'
          >2020 - Present</span
        >
        <span class='ml-2'>Prointix at Siem Reap</span>
      </h4>
      <ul class='list-inside list-disc text-sm leading-relaxed text-gray-700'>
        <li class='list-item'>
          <span class='text-sm font-semibold'>Mobile Application</span>
          <ul class='list-inside list-disc pl-5'>
            <li>
              Developing Mobile Applications using (React Native, React
              Navigation, Context API, Redux, Zustand, Axios, React-Query,
              Apollo Client, Nativebase, NativeWind)
            </li>
            <li>Summiting apps to App Store and Google Play</li>
          </ul>
        </li>
        <li class='list-item'>
          <span class='text-sm font-semibold'>Web Application</span>
          <ul class='list-inside list-disc pl-5'>
            <li>
              Developing Backend API with Frontend (Nest.js, Express.Js,
              Hono.Js, React.Js, MySQL, TypeORM, Prisma, DrizzleORM)
            </li>
            <li>Full-Stack with meta-frameworks (Next.js, Remix.js)</li>
            <li>
              Developing Software applications using PHP MVC Framework (Yii2
              Framework)
            </li>
            <li>
              Full-Stack CRUD operation application (PHP, Yii2, Bootstrap, HTML,
              CSS, JavaScript, jQuery, Inertia.js, React)
            </li>
          </ul>
        </li>
        <li>
          <span class='text-sm font-semibold'>Database</span>
          <ul class='list-inside list-disc pl-5'>
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
          </ul>
        </li>
        <li>
          <span class='text-sm font-semibold'>DevOps</span>
          <ul class='list-inside list-disc pl-5'>
            <li>CI/CD with Github Actions</li>
            <li>Docker</li>
            <li>Shared Hosting</li>
            <li>PaaS Services (Fly.io, Vercel, Netlify)</li>
            <li>Cloud Computing Service (AWS, DigitalOcean)</li>
          </ul>
        </li>
        <li>
          <span class='text-sm font-semibold'>Others</span>
          <ul class='list-inside list-disc pl-5'>
            <li>Work on designing, developing, and maintaining software</li>
            <li>
              Work with other team members to create and implement software
              solutions
            </li>
            <li>Manage software projects to meet deadline</li>
            <li>Communicate with stakeholder</li>
            <li>Conduct code reviews and bugs fixed</li>
            <li>Training interns and team members with new technologies</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class='pt-5'>
      <h3 class='mb-2 text-xl font-semibold'>Software Developer</h3>
      <h4 class='font-medium text-neutral-700'>
        <span class='rounded-md bg-primary px-2 text-xs text-white'
          >2018 - 2019</span
        >
        <span class='ml-2'>eOcambo Technology at Siem Reap</span>
      </h4>
      <ul class='list-inside list-disc text-sm leading-relaxed text-gray-700'>
        <li class='list-item'>
          <span class='text-sm font-semibold'>Mobile Application</span>
          <ul class='list-inside list-disc pl-5'>
            <li>
              Developing Mobile Applications using (React Native, React
              Navigation, Firebase, Redux)
            </li>
            <li>Learning mobile development using React Native</li>
          </ul>
        </li>
        <li class='list-item'>
          <span class='text-sm font-semibold'>Web Application</span>
          <ul class='list-inside list-disc pl-5'>
            <li>
              Join team developing software using PHP MVC Framework (Yii2
              Framework)
            </li>
            <li>Involve with MySQL database</li>
            <li>Frontend Skill (HTML, CSS, Bootstrap, JavaScript)</li>
            <li>Internship as Web applications using Yii2</li>
            <li>Internship as Web Developer using WordPress</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <h2 class='mb-4 mt-8 text-3xl font-semibold'>Education</h2>
  <div class='grid grid-cols-2 gap-4'>
    <div>
      <span class='rounded-md bg-primary px-2 text-xs text-white'
        >2015 - 2019</span
      >
      <h3 class='text-xl font-semibold'>
        Bachelor Degree in Information Technology
      </h3>
      <p class='text-sm font-normal text-neutral-700'>
        Build Bright University
      </p>
    </div>
  </div>
  <HardSkills />
  <h2 class='mt-8 text-3xl font-semibold'>Soft Skills</h2>
  <ul class='mt-3 grid grid-cols-2 gap-4 md:w-[60%]'>
    <li>Fast Learning</li>
    <li>Creative Thinking</li>
    <li>Team work</li>
    <li>Empathy</li>
    <li>Problem Solving</li>
    <li>Communication</li>
    <li>Time Management</li>
  </ul>
</Layout>
