---
import HardSkillItem from './HardSkillItem.astro'
---

<h2 class='mb-4 mt-8 text-3xl font-semibold'>Hard Skills</h2>
<div class='grid grid-cols-2 gap-5 md:grid-cols-5'>
  <HardSkillItem name='JavaScript'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      x='0px'
      y='0px'
      width='100'
      height='100'
      viewBox='0 0 48 48'
    >
      <path fill='#ffd600' d='M6,42V6h36v36H6z'></path>
      <path
        fill='#000001'
        d='M29.538 32.947c.692 1.124 1.444 2.201 3.037 2.201 1.338 0 2.04-.665 2.04-1.585 0-1.101-.726-1.492-2.198-2.133l-.807-.344c-2.329-.988-3.878-2.226-3.878-4.841 0-2.41 1.845-4.244 4.728-4.244 2.053 0 3.528.711 4.592 2.573l-2.514 1.607c-.553-.988-1.151-1.377-2.078-1.377-.946 0-1.545.597-1.545 1.377 0 .964.6 1.354 1.985 1.951l.807.344C36.452 29.645 38 30.839 38 33.523 38 36.415 35.716 38 32.65 38c-2.999 0-4.702-1.505-5.65-3.368L29.538 32.947zM17.952 33.029c.506.906 1.275 1.603 2.381 1.603 1.058 0 1.667-.418 1.667-2.043V22h3.333v11.101c0 3.367-1.953 4.899-4.805 4.899-2.577 0-4.437-1.746-5.195-3.368L17.952 33.029z'
      ></path>
    </svg>
  </HardSkillItem>
  <HardSkillItem name='Node.Js'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      x='0px'
      y='0px'
      width='100'
      height='100'
      viewBox='0 0 48 48'
    >
      <path
        fill='#388e3c'
        d='M17.204 19.122l-4.907 2.715C12.113 21.938 12 22.126 12 22.329v5.433c0 .203.113.39.297.492l4.908 2.717c.183.101.41.101.593 0l4.907-2.717C22.887 28.152 23 27.965 23 27.762v-5.433c0-.203-.113-.39-.297-.492l-4.906-2.715c-.092-.051-.195-.076-.297-.076-.103 0-.205.025-.297.076M42.451 24.013l-.818.452c-.031.017-.049.048-.049.082v.906c0 .034.019.065.049.082l.818.453c.031.017.068.017.099 0l.818-.453c.03-.017.049-.048.049-.082v-.906c0-.034-.019-.065-.05-.082l-.818-.452C42.534 24.004 42.517 24 42.5 24S42.466 24.004 42.451 24.013'
      ></path><path
        fill='#37474f'
        d='M35.751,13.364l-2.389-1.333c-0.075-0.042-0.167-0.041-0.241,0.003 c-0.074,0.044-0.12,0.123-0.12,0.209L33,20.295l-2.203-1.219C30.705,19.025,30.602,19,30.5,19c-0.102,0-0.205,0.025-0.297,0.076 h0.001l-4.907,2.715C25.113,21.892,25,22.08,25,22.282v5.433c0,0.203,0.113,0.39,0.297,0.492l4.908,2.717 c0.183,0.101,0.41,0.101,0.593,0l4.907-2.717C35.887,28.106,36,27.918,36,27.715V13.788C36,13.612,35.904,13.45,35.751,13.364z M32.866,26.458l-2.23,1.235c-0.083,0.046-0.186,0.046-0.269,0l-2.231-1.235C28.051,26.412,28,26.326,28,26.234v-2.47 c0-0.092,0.051-0.177,0.135-0.224l2.231-1.234h-0.001c0.042-0.023,0.088-0.034,0.135-0.034c0.047,0,0.093,0.012,0.135,0.034 l2.23,1.234C32.949,23.587,33,23.673,33,23.765v2.47C33,26.326,32.949,26.412,32.866,26.458z'
      ></path><path
        fill='#2e7d32'
        d='M17.204,19.122L12,27.762c0,0.203,0.113,0.39,0.297,0.492l4.908,2.717 c0.183,0.101,0.41,0.101,0.593,0L23,22.329c0-0.203-0.113-0.39-0.297-0.492l-4.906-2.715c-0.092-0.051-0.195-0.076-0.297-0.076 c-0.103,0-0.205,0.025-0.297,0.076'
      ></path><path
        fill='#4caf50'
        d='M17.204,19.122l-4.907,2.715C12.113,21.938,12,22.126,12,22.329l5.204,8.642 c0.183,0.101,0.41,0.101,0.593,0l4.907-2.717C22.887,28.152,23,27.965,23,27.762l-5.203-8.64c-0.092-0.051-0.195-0.076-0.297-0.076 c-0.103,0-0.205,0.025-0.297,0.076'
      ></path><path
        fill='#37474f'
        d='M47.703 21.791l-4.906-2.715C42.705 19.025 42.602 19 42.5 19c-.102 0-.205.025-.297.076h.001l-4.907 2.715C37.114 21.892 37 22.084 37 22.294v5.411c0 .209.114.402.297.503l4.908 2.717c.184.102.409.102.593 0l2.263-1.253c.207-.115.206-.412-.002-.526l-4.924-2.687C40.052 26.412 40 26.325 40 26.231v-2.466c0-.092.05-.177.13-.221l2.235-1.236h-.001c.042-.023.088-.034.135-.034.047 0 .093.012.135.034l2.235 1.237c.08.044.13.129.13.221v2.012c0 .086.046.166.121.209.075.042.167.042.242-.001l2.398-1.393c.148-.086.24-.245.24-.417v-1.88C48 22.085 47.886 21.892 47.703 21.791zM10.703 21.791l-4.906-2.715C5.705 19.025 5.602 19 5.5 19c-.102 0-.205.025-.297.076h.001l-4.907 2.715C.114 21.892 0 22.084 0 22.294v7.465c0 .086.046.166.121.209.075.042.167.042.242-.001l2.398-1.393C2.909 28.488 3 28.329 3 28.157v-4.393c0-.092.05-.177.13-.221l2.235-1.236H5.365c.042-.023.088-.034.135-.034.047 0 .093.012.135.034l2.235 1.237C7.95 23.588 8 23.673 8 23.765v4.393c0 .172.091.331.24.417l2.398 1.393c.075.043.167.043.242.001C10.954 29.925 11 29.845 11 29.759v-7.464C11 22.085 10.886 21.892 10.703 21.791z'
      ></path>
    </svg>
  </HardSkillItem>
  <HardSkillItem name='PHP'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      x='0px'
      y='0px'
      width='100'
      height='100'
      viewBox='0 0 50 50'
    >
      <path
        d='M 25 12 C 11.542969 12 1 17.710938 1 25 C 1 32.289063 11.542969 38 25 38 C 38.457031 38 49 32.289063 49 25 C 49 17.710938 38.457031 12 25 12 Z M 22.507813 16 L 25.128906 16 L 24.296875 20 L 26.636719 20 C 28.121094 20 29.117188 20.207031 29.683594 20.726563 C 30.238281 21.238281 30.40625 22.078125 30.183594 23.222656 L 29.144531 28 L 26.480469 28 L 27.4375 23.582031 C 27.554688 22.976563 27.507813 22.554688 27.304688 22.332031 C 27.101563 22.109375 26.65625 22 25.988281 22 L 23.890625 22 L 22.625 28 L 20 28 Z M 11 20 L 16.332031 20 C 18.875 20 20.414063 21.703125 19.8125 24.246094 C 19.113281 27.199219 17.238281 28 13.792969 28 L 12.144531 28 L 11.621094 31 L 8.972656 31 Z M 32 20 L 37.332031 20 C 39.875 20 41.414063 21.703125 40.8125 24.246094 C 40.113281 27.199219 38.238281 28 34.792969 28 L 33.144531 28 L 32.621094 31 L 29.972656 31 Z M 13.269531 22 L 12.515625 26 L 14.226563 26 C 15.707031 26 17.082031 25.832031 17.3125 23.625 C 17.398438 22.769531 17.042969 22 15.332031 22 Z M 34.269531 22 L 33.515625 26 L 35.226563 26 C 36.707031 26 38.082031 25.832031 38.3125 23.625 C 38.398438 22.769531 38.042969 22 36.332031 22 Z'
      ></path>
    </svg>
  </HardSkillItem>
  <HardSkillItem name='Elixir'>
    <svg
      height='100'
      viewBox='0 0 64 64'
      width='100'
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      ><linearGradient
        id='a'
        gradientTransform='matrix(.12970797 0 0 .19997863 11.409779 -.000001)'
        gradientUnits='userSpaceOnUse'
        x1='167.51685'
        x2='160.31'
        y1='24.393208'
        y2='320.03421'
        ><stop offset='0' stop-color='#d9d8dc'></stop><stop
          offset='1'
          stop-color='#fff'
          stop-opacity='.385275'></stop></linearGradient
      ><linearGradient
        id='b'
        gradientTransform='matrix(.11420937 0 0 .22711641 11.409779 -.000001)'
        gradientUnits='userSpaceOnUse'
        x1='199.03606'
        x2='140.0712'
        y1='21.412943'
        y2='278.40781'
        ><stop offset='0' stop-color='#8d67af' stop-opacity='.671932'
        ></stop><stop offset='1' stop-color='#9f8daf'></stop></linearGradient
      ><linearGradient
        id='c'
        gradientTransform='matrix(.12266694 0 0 .21145732 11.409779 -.000001)'
        gradientUnits='userSpaceOnUse'
        x1='206.42825'
        x2='206.42825'
        y1='100.91758'
        y2='294.31174'
        ><stop offset='0' stop-color='#26053d' stop-opacity='.761634'
        ></stop><stop offset='1' stop-color='#b7b4b4' stop-opacity='.277683'
        ></stop></linearGradient
      ><linearGradient
        id='d'
        gradientTransform='matrix(.18477958 0 0 .14037711 11.409779 -.000001)'
        gradientUnits='userSpaceOnUse'
        x1='23.483095'
        x2='112.93069'
        y1='171.71753'
        y2='351.72263'
        ><stop offset='0' stop-color='#91739f' stop-opacity='.45955'
        ></stop><stop offset='1' stop-color='#32054f' stop-opacity='.539912'
        ></stop></linearGradient
      ><linearGradient
        id='e'
        gradientTransform='matrix(.14183937 0 0 .18287462 11.409779 -.000001)'
        gradientUnits='userSpaceOnUse'
        x1='226.7811'
        x2='67.803513'
        y1='317.25201'
        y2='147.4131'
        ><stop offset='0' stop-color='#463d49' stop-opacity='.331182'
        ></stop><stop offset='1' stop-color='#340a50' stop-opacity='.821388'
        ></stop></linearGradient
      ><linearGradient
        id='f'
        gradientTransform='matrix(.10596912 0 0 .24477717 11.409779 -.000001)'
        gradientUnits='userSpaceOnUse'
        x1='248.0164'
        x2='200.70529'
        y1='88.755211'
        y2='255.00513'
        ><stop offset='0' stop-color='#715383' stop-opacity='.145239'
        ></stop><stop offset='1' stop-color='#f4f4f4' stop-opacity='.233639'
        ></stop></linearGradient
      ><linearGradient
        id='g'
        gradientTransform='matrix(.09173097 0 0 .28277061 11.409779 -.000001)'
        gradientUnits='userSpaceOnUse'
        x1='307.5639'
        x2='156.45103'
        y1='109.963'
        y2='81.526764'
        ><stop offset='0' stop-color='#a5a1a8' stop-opacity='.356091'
        ></stop><stop offset='1' stop-color='#370c50' stop-opacity='.581975'
        ></stop></linearGradient
      ><g fill-rule='evenodd'
        ><path
          d='m34.033696.16105439c-4.649706 1.64813521-9.138214 6.45860111-13.465525 14.43139761-6.490966 11.959195-14.8743608 28.953434-3.330358 42.408733 5.340603 6.224826 14.158605 9.898679 25.730911 4.080095 9.296536-4.67432 11.882014-18.088489 8.544419-24.392035-6.884785-13.002951-13.869705-16.210096-15.740131-24.273959-1.24695-5.375909-1.826722-9.4606528-1.739316-12.25423161z'
          fill='url(#a)'></path><path
          d='m34.033696-.00000095c-4.673294 1.66512615-9.161803 6.47559215-13.465525 14.43139795-6.455581 11.933709-14.8743608 28.953433-3.330358 42.408733 5.340603 6.224826 14.045121 8.236341 18.875071 4.544505 3.148725-2.40677 5.290239-4.700935 6.52406-9.534696 1.373834-5.382292.319746-12.628547-.402523-15.957361-.913952-4.212248-1.213096-8.835494-.897429-13.869735-.11123-.135513-.194345-.236927-.249347-.30424-2.514528-3.077324-4.454883-5.757778-5.314633-9.464373-1.24695-5.3759083-1.826722-9.4606522-1.739316-12.25423095z'
          fill='url(#b)'></path><path
          d='m30.164134 2.0937185c-4.352812 3.440161-7.589227 9.2104935-9.709246 17.3109975-3.180029 12.150756-3.524621 23.355714-2.403077 29.873065 2.17418 12.634271 13.445838 17.430108 25.007417 11.549319 7.115151-3.619115 10.078654-11.387504 9.921651-19.81976-.162566-8.731042-17.034649-18.626155-20.022678-25.912745-1.992018-4.857728-2.923374-9.1913529-2.794067-13.0008765z'
          fill='url(#c)'></path><path
          d='m41.199436 24.874043c5.220347 6.694959 6.358283 11.355459 3.413807 13.981497-4.416714 3.93906-15.217419 6.509155-21.936599 1.744215-4.479454-3.176628-6.174316-9.991206-5.084588-20.443737-1.849118 3.861723-3.412567 7.773671-4.690348 11.735849-1.27778 3.962178-1.650915 8.108529-1.119404 12.439052 1.601351 3.239683 5.494817 5.403396 11.680397 6.491139 9.278371 1.631615 18.060122.825407 23.95271-2.145065 3.928391-1.980314 5.786494-3.951651 5.574312-5.91401.141766-2.897853-.751847-5.656438-2.680832-8.275753-1.928988-2.619317-4.965472-5.823713-9.109455-9.613187z'
          fill='url(#d)'></path><path
          d='m20.799251 18.189006c-.04364 4.835125 1.199603 9.431489 3.729718 13.789093 3.795174 6.536405 8.225212 12.995204 14.854367 18.348954 4.419436 3.569167 7.950747 4.722294 10.593929 3.459382-2.170994 3.88538-4.479397 5.78925-6.925211 5.711609-3.668718-.11646-8.142117-1.719788-15.309635-10.333032-4.778347-5.742163-8.047222-11.17387-9.806624-16.295121.279004-2.031676.574857-4.055285.887559-6.070826.312702-2.015542.971335-4.885561 1.975897-8.610059z'
          fill='url(#e)'></path><path
          d='m32.011273 24.824412c.405511 3.938827 1.93822 10.239557 0 14.434591-1.938221 4.195036-10.890677 11.773476-8.419446 18.449432 2.47123 6.675957 8.493644 5.177168 12.271355 2.100547 3.777712-3.076623 5.799822-8.079349 6.248034-11.597523.448213-3.518171-1.072381-10.287708-1.56693-16.17596-.329698-3.9255-.106002-7.291185.671093-10.097054l-1.15758-1.456665-6.813456-2.017361c-1.092388 1.614111-1.503411 3.73411-1.23307 6.359993z'
          fill='url(#f)'></path><path
          d='m34.443394 5.3148253c-2.205235.9318217-4.294586 2.7781986-6.268054 5.5391307-2.960203 4.141399-4.467906 6.623907-3.3519 14.833191.744003 5.472857 1.276531 10.50778 1.597582 15.104773l9.543032-27.726988c-.350835-1.412815-.642632-2.688766-.875391-3.8278548-.232758-1.1390887-.447848-2.446506-.645269-3.9222519z'
          fill='url(#g)'></path><path
          d='m35.945755 13.009805c-2.422551 1.413992-4.299708 4.310913-5.631469 8.690763-1.331762 4.379852-2.550147 10.50277-3.655157 18.368756 1.47381-5.003069 2.451455-8.626771 2.932936-10.871105.722221-3.366501.968912-8.127131 2.886564-11.359156 1.278437-2.154684 2.434144-3.764436 3.467126-4.829258z'
          fill='#330a4c'
          fill-opacity='.316321'></path><path
          d='m24.728788 59.937995c3.986659.569558 6.071303 1.075916 6.253931 1.519073.273942.664733-.504655 1.272785-2.717611.864177-1.475304-.272404-2.654077-1.06682-3.53632-2.38325z'
          fill='#fff'></path><path
          d='m26.731652 5.3148253c-2.192807 2.6195801-4.092897 5.3967527-5.700271 8.3315187s-2.755892 5.124204-3.445555 6.568313c-.213753 1.077096-.318084 2.666371-.312993 4.767823.0051 2.101452.186856 4.438039.545295 7.009761.313817-5.035952 1.274508-9.924178 2.882072-14.664678 1.607565-4.740501 3.618049-8.7447464 6.031452-12.0127377z'
          fill='#ededed'
          fill-opacity='.603261'></path></g
      ></svg
    >
  </HardSkillItem>
  <HardSkillItem name='React / React Native'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      x='0px'
      y='0px'
      width='100'
      height='100'
      viewBox='0,0,256,256'
    >
      <g
        fill='#129eca'
        fill-rule='nonzero'
        stroke='none'
        stroke-width='1'
        stroke-linecap='butt'
        stroke-linejoin='miter'
        stroke-miterlimit='10'
        stroke-dasharray=''
        stroke-dashoffset='0'
        font-family='none'
        font-weight='none'
        font-size='none'
        text-anchor='none'
        style='mix-blend-mode: normal'
        ><g transform='scale(3.2,3.2)'
          ><path
            d='M46.5,40c0,3.593 -2.907,6.5 -6.5,6.5c-3.593,0 -6.5,-2.907 -6.5,-6.5c0,-3.593 2.907,-6.5 6.5,-6.5c3.593,0 6.5,2.907 6.5,6.5z'
          ></path><path
            d='M40,47c-3.859,0 -7,-3.14 -7,-7c0,-3.86 3.141,-7 7,-7c3.859,0 7,3.14 7,7c0,3.86 -3.141,7 -7,7zM40,34c-3.309,0 -6,2.691 -6,6c0,3.309 2.691,6 6,6c3.309,0 6,-2.691 6,-6c0,-3.309 -2.691,-6 -6,-6z'
          ></path><g
            ><path
              d='M24.474,75.503c-1.711,0 -3.269,-0.392 -4.632,-1.164c-2.28,-1.293 -3.856,-3.521 -4.686,-6.62c-0.965,-3.607 -0.85,-8.398 0.332,-13.878c-9.532,-3.279 -14.988,-8.31 -14.988,-13.841c0,-5.532 5.455,-10.562 14.987,-13.84c-1.182,-5.481 -1.298,-10.272 -0.333,-13.879c0.83,-3.1 2.406,-5.328 4.685,-6.62c1.362,-0.772 2.921,-1.164 4.632,-1.164c4.388,0 9.891,2.73 15.531,7.698c5.64,-4.963 11.141,-7.691 15.524,-7.691c1.711,0 3.269,0.392 4.632,1.164c2.277,1.291 3.854,3.515 4.684,6.611c0.966,3.606 0.85,8.398 -0.333,13.88c9.534,3.278 14.991,8.309 14.991,13.841c0,5.532 -5.457,10.563 -14.991,13.842c1.182,5.481 1.298,10.272 0.332,13.878c-0.83,3.097 -2.405,5.321 -4.68,6.612c-1.364,0.772 -2.923,1.164 -4.633,1.164c-4.386,0 -9.889,-2.728 -15.527,-7.689c-5.64,4.967 -11.142,7.696 -15.527,7.696zM19.337,55.006c-0.991,4.717 -1.102,8.747 -0.316,11.679c0.542,2.026 1.481,3.431 2.794,4.175c0.753,0.427 1.648,0.644 2.659,0.644c3.394,0 7.862,-2.282 12.621,-6.437c-2.385,-2.402 -4.713,-5.121 -6.928,-8.091c-3.831,-0.416 -7.471,-1.078 -10.83,-1.97zM42.906,65.065c4.758,4.151 9.227,6.431 12.621,6.432c1.011,0 1.906,-0.217 2.661,-0.644c1.309,-0.742 2.246,-2.144 2.787,-4.167c0.786,-2.934 0.676,-6.963 -0.315,-11.679c-3.362,0.892 -7.003,1.554 -10.833,1.97c-2.214,2.97 -4.539,5.688 -6.921,8.088zM35.566,57.393c1.452,1.776 2.938,3.433 4.434,4.94c1.492,-1.506 2.979,-3.163 4.43,-4.94c-1.491,0.071 -2.976,0.107 -4.43,0.107c-1.455,0 -2.941,-0.036 -4.434,-0.107zM32.349,53.179c2.495,0.213 5.068,0.321 7.651,0.321c2.585,0 5.155,-0.108 7.646,-0.32c1.486,-2.084 2.903,-4.268 4.214,-6.495c1.268,-2.155 2.461,-4.404 3.547,-6.686c-1.083,-2.276 -2.275,-4.524 -3.546,-6.684c-1.308,-2.222 -2.725,-4.406 -4.215,-6.495c-2.489,-0.212 -5.059,-0.32 -7.646,-0.32c-2.588,0 -5.159,0.108 -7.647,0.321c-1.49,2.086 -2.909,4.27 -4.219,6.495c-1.27,2.159 -2.462,4.407 -3.546,6.686c1.082,2.274 2.274,4.522 3.545,6.684c1.304,2.215 2.721,4.398 4.216,6.493zM57.491,44.779c-0.706,1.346 -1.438,2.666 -2.185,3.934c-0.753,1.282 -1.554,2.568 -2.386,3.836c2.374,-0.366 4.645,-0.835 6.771,-1.4c-0.59,-2.049 -1.329,-4.186 -2.2,-6.37zM20.304,51.148c2.127,0.564 4.397,1.034 6.768,1.4c-0.837,-1.276 -1.638,-2.563 -2.386,-3.835c-0.745,-1.267 -1.478,-2.585 -2.183,-3.931c-0.867,2.174 -1.605,4.309 -2.199,6.366zM59.816,40c1.528,3.391 2.773,6.743 3.708,9.977c7.402,-2.604 11.976,-6.403 11.976,-9.977c0,-3.574 -4.574,-7.373 -11.976,-9.977c-0.933,3.234 -2.179,6.586 -3.708,9.977zM16.472,30.025c-7.399,2.603 -11.972,6.402 -11.972,9.975c0,3.574 4.573,7.373 11.974,9.976c0.934,-3.235 2.179,-6.587 3.705,-9.974c-1.527,-3.388 -2.772,-6.74 -3.707,-9.977zM20.303,28.852c0.594,2.054 1.332,4.19 2.2,6.368c0.704,-1.342 1.436,-2.661 2.184,-3.932c0.752,-1.279 1.553,-2.565 2.388,-3.836c-2.374,0.365 -4.644,0.835 -6.772,1.4zM52.922,27.451c0.837,1.277 1.638,2.563 2.386,3.837c0.746,1.267 1.479,2.586 2.185,3.932c0.869,-2.177 1.607,-4.313 2.201,-6.369c-2.13,-0.565 -4.4,-1.035 -6.772,-1.4zM24.471,8.497c-1.011,0 -1.905,0.216 -2.657,0.644c-1.312,0.744 -2.252,2.149 -2.795,4.175c-0.785,2.935 -0.675,6.964 0.317,11.679c3.36,-0.892 7.002,-1.555 10.834,-1.971c2.217,-2.971 4.545,-5.688 6.927,-8.088c-4.76,-4.157 -9.231,-6.439 -12.626,-6.439zM49.828,23.023c3.83,0.416 7.471,1.078 10.833,1.97c0.992,-4.716 1.103,-8.746 0.316,-11.68c-0.542,-2.022 -1.48,-3.424 -2.79,-4.166c-0.754,-0.427 -1.649,-0.644 -2.661,-0.644c-3.393,0 -7.86,2.281 -12.619,6.433c2.38,2.399 4.706,5.117 6.921,8.087zM40,22.5c1.454,0 2.939,0.036 4.431,0.107c-1.45,-1.774 -2.936,-3.43 -4.429,-4.938c-1.497,1.51 -2.982,3.166 -4.432,4.938c1.491,-0.071 2.976,-0.107 4.43,-0.107z'
            ></path><path
              d='M24.471,4.997c4.494,0 9.996,2.91 15.532,7.867c5.535,-4.953 11.034,-7.86 15.524,-7.86c1.623,0 3.099,0.37 4.386,1.099c2.156,1.222 3.652,3.343 4.446,6.306c1.077,3.917 0.851,8.74 -0.434,14.08c9.222,3.081 15.075,7.942 15.075,13.511c0,5.569 -5.853,10.43 -15.076,13.512c1.341,5.773 1.566,10.726 0.434,14.079c-0.794,2.962 -2.289,5.084 -4.443,6.306c-1.289,0.73 -2.46,1.103 -4.082,1.103c-0.001,0 -0.416,0 -0.417,0c-4.492,0 -9.882,-2.91 -15.416,-7.861c-5.535,4.956 -11.035,7.864 -15.527,7.864c-1.623,0 -3.099,-0.37 -4.386,-1.099c-2.158,-1.225 -3.655,-3.349 -4.448,-6.314c-1.19,-3.717 -0.95,-8.603 0.434,-14.079c-9.221,-3.082 -15.073,-7.942 -15.073,-13.511c0,-5.568 5.852,-10.429 15.072,-13.511c-0.687,-3.059 -1.126,-5.899 -1.141,-8.489c-0.012,-2.046 0.267,-3.949 0.707,-5.59c0.794,-2.966 2.29,-5.09 4.448,-6.314c1.286,-0.73 2.762,-1.099 4.385,-1.099M18.958,25.614c3.477,-0.955 7.338,-1.677 11.483,-2.117c2.382,-3.21 4.875,-6.096 7.386,-8.584c-4.872,-4.346 -9.616,-6.917 -13.356,-6.917c-1.099,0 -2.075,0.238 -2.904,0.709c-1.433,0.813 -2.452,2.32 -3.031,4.481c-0.858,3.202 -0.663,7.53 0.422,12.428M61.039,25.613c1.085,-4.898 1.28,-9.227 0.422,-12.429c-0.578,-2.157 -1.597,-3.661 -3.027,-4.472c-0.83,-0.471 -1.809,-0.709 -2.907,-0.709c-3.737,0 -8.478,2.568 -13.349,6.91c2.51,2.488 5,5.374 7.38,8.583c4.143,0.44 8.004,1.162 11.481,2.117M34.477,23.166c1.802,-0.107 3.609,-0.2 5.488,-0.2c1.879,0 3.755,0.094 5.557,0.2c-1.808,-2.279 -3.664,-4.361 -5.521,-6.204c-1.857,1.843 -3.714,3.925 -5.524,6.204M40,54c2.761,0 5.404,-0.121 7.918,-0.342c1.519,-2.117 2.988,-4.365 4.372,-6.719c1.353,-2.299 2.577,-4.626 3.67,-6.939c-1.093,-2.313 -2.317,-4.639 -3.669,-6.937c-1.385,-2.355 -2.853,-4.602 -4.373,-6.719c-2.513,-0.223 -5.156,-0.344 -7.918,-0.344c-2.762,0 -5.406,0.121 -7.92,0.343c-1.521,2.117 -2.991,4.365 -4.376,6.719c-1.352,2.299 -2.576,4.626 -3.669,6.939c1.093,2.313 2.316,4.639 3.668,6.937c1.385,2.354 2.854,4.602 4.374,6.719c2.515,0.222 5.16,0.343 7.923,0.343M57.546,36.413c1.125,-2.709 2.056,-5.369 2.766,-7.913c-2.553,-0.702 -5.373,-1.282 -8.428,-1.707c1.028,1.527 2.029,3.11 2.992,4.748c0.954,1.619 1.841,3.247 2.67,4.872M22.449,36.414c0.828,-1.625 1.716,-3.253 2.668,-4.873c0.964,-1.638 1.966,-3.22 2.995,-4.747c-3.055,0.424 -5.875,1.005 -8.428,1.707c0.71,2.544 1.641,5.203 2.765,7.913M63.188,50.622c8.076,-2.736 12.812,-6.756 12.812,-10.622c0,-3.866 -4.736,-7.886 -12.812,-10.622c-0.953,3.405 -2.269,6.983 -3.92,10.621c1.651,3.639 2.967,7.217 3.92,10.623M16.81,50.621c0.952,-3.404 2.267,-6.982 3.918,-10.619c-1.651,-3.638 -2.967,-7.217 -3.919,-10.622c-8.075,2.736 -12.809,6.755 -12.809,10.62c0,3.866 4.735,7.885 12.81,10.621M51.884,53.207c3.055,-0.424 5.875,-1.004 8.428,-1.707c-0.711,-2.544 -1.642,-5.204 -2.766,-7.914c-0.829,1.625 -1.717,3.253 -2.67,4.873c-0.963,1.638 -1.964,3.221 -2.992,4.748M28.109,53.206c-1.028,-1.527 -2.029,-3.109 -2.993,-4.746c-0.952,-1.619 -1.839,-3.246 -2.667,-4.87c-1.124,2.708 -2.054,5.367 -2.764,7.91c2.552,0.701 5.371,1.281 8.424,1.706M24.474,72.003c3.739,0 8.481,-2.57 13.352,-6.914c-2.513,-2.489 -5.005,-5.376 -7.388,-8.587c-4.143,-0.439 -8.002,-1.161 -11.478,-2.116c-1.084,4.898 -1.279,9.226 -0.422,12.428c0.578,2.16 1.598,3.667 3.03,4.48c0.828,0.471 1.807,0.709 2.906,0.709M55.527,71.997v0c1.099,0 2.076,-0.238 2.907,-0.709c1.43,-0.811 2.447,-2.315 3.024,-4.473c0.858,-3.203 0.663,-7.531 -0.421,-12.428c-3.477,0.955 -7.337,1.677 -11.481,2.116c-2.38,3.21 -4.871,6.096 -7.381,8.585c4.871,4.34 9.613,6.908 13.352,6.909M40,63.04c1.857,-1.844 3.713,-3.927 5.522,-6.206c-1.801,0.107 -3.559,0.333 -5.439,0.333c-1.881,0 -3.807,-0.226 -5.609,-0.333c1.81,2.28 3.668,4.363 5.526,6.206M24.116,4.072c-1.799,0 -3.085,0.338 -4.523,1.153c-2.399,1.361 -4.055,3.691 -4.921,6.926c-0.96,3.587 -0.877,8.302 0.236,13.681c-9.489,3.357 -14.908,8.493 -14.908,14.168c0,5.676 5.42,10.811 14.909,14.168c-1.113,5.379 -1.196,10.094 -0.235,13.681c0.865,3.233 2.52,5.563 4.921,6.926c1.44,0.816 3.17,1.163 4.968,1.163c4.487,0 9.753,-2.535 15.438,-7.466c5.684,4.926 11.039,7.524 15.525,7.525c1.799,0 3.441,-0.413 4.881,-1.229c2.397,-1.359 4.051,-3.686 4.916,-6.917c0.961,-3.588 0.878,-8.303 -0.235,-13.681c9.491,-3.358 14.912,-8.494 14.912,-14.17c0,-5.676 -5.42,-10.812 -14.911,-14.169c1.114,-5.38 1.196,-10.095 0.235,-13.682c-0.866,-3.231 -2.521,-5.558 -4.919,-6.917c-1.439,-0.815 -3.081,-1.229 -4.879,-1.229c-4.485,0 -9.839,2.599 -15.524,7.527c-5.686,-4.932 -11.066,-7.461 -15.554,-7.461zM19.72,24.377c-0.462,-2.324 -0.772,-4.502 -0.789,-6.412c-0.015,-1.72 0.221,-3.217 0.57,-4.521c0.507,-1.892 1.368,-3.194 2.559,-3.87c0.676,-0.384 1.5,-0.644 2.423,-0.644c3.181,0 7.367,2.178 11.883,6.034c-2.221,2.273 -4.392,4.819 -6.466,7.585c-3.585,0.4 -7.003,1.013 -10.18,1.828zM43.638,14.966c4.515,-3.853 8.711,-5.963 11.888,-5.963c0.924,0 1.737,0.195 2.414,0.579c1.189,0.674 2.049,1.973 2.555,3.861c0.874,2.818 0.761,6.564 -0.218,10.933c-3.177,-0.814 -6.594,-1.428 -10.178,-1.826c-2.073,-2.765 -4.242,-5.311 -6.461,-7.584zM36.673,22.06c1.096,-1.3 2.209,-2.53 3.328,-3.678c1.119,1.148 2.231,2.378 3.326,3.678c-1.119,-0.04 -2.232,-0.06 -3.327,-0.06c-1.095,0 -2.207,0.02 -3.327,0.06zM32.625,27.3c2.405,-0.199 4.883,-0.341 7.375,-0.341c2.491,0 4.969,0.142 7.373,0.341c1.432,2.019 2.796,4.126 4.056,6.269c1.222,2.078 2.373,4.239 3.423,6.43c-1.051,2.192 -2.202,4.354 -3.424,6.432c-1.261,2.144 -2.624,4.25 -4.056,6.269c-2.403,0.199 -4.881,0.466 -7.372,0.466c-2.493,0 -4.972,-0.268 -7.378,-0.467c-1.433,-2.018 -2.797,-4.125 -4.058,-6.269c-1.222,-2.077 -2.372,-4.238 -3.422,-6.43c1.05,-2.192 2.201,-4.354 3.423,-6.432c1.262,-2.143 2.627,-4.25 4.06,-6.268zM57.422,34.024c-0.549,-1.018 -1.112,-2.018 -1.683,-2.99c-0.57,-0.969 -1.167,-1.942 -1.785,-2.909c1.774,0.302 3.485,0.663 5.114,1.08c-0.467,1.566 -1.018,3.178 -1.646,4.819zM20.928,29.205c1.629,-0.417 3.34,-0.778 5.114,-1.08c-0.619,0.967 -1.216,1.94 -1.786,2.908c-0.571,0.972 -1.134,1.972 -1.683,2.99c-0.628,-1.639 -1.178,-3.251 -1.645,-4.818zM60.365,39.999c1.415,-3.162 2.587,-6.292 3.49,-9.326c6.903,2.519 11.145,6.048 11.145,9.327c0,3.279 -4.242,6.808 -11.145,9.327c-0.904,-3.035 -2.075,-6.166 -3.49,-9.328zM16.142,49.326c-6.901,-2.519 -11.142,-6.048 -11.142,-9.326c0,-3.278 4.241,-6.807 11.141,-9.326c0.903,3.035 2.074,6.165 3.489,9.327c-1.414,3.161 -2.585,6.291 -3.488,9.325zM53.953,51.876c0.618,-0.968 1.216,-1.941 1.785,-2.909c0.572,-0.972 1.135,-1.973 1.684,-2.991c0.628,1.641 1.178,3.254 1.646,4.821c-1.63,0.415 -3.341,0.777 -5.115,1.079zM20.929,50.795c0.467,-1.566 1.017,-3.177 1.644,-4.816c0.548,1.017 1.111,2.017 1.682,2.988c0.569,0.968 1.166,1.94 1.785,2.908c-1.773,-0.303 -3.483,-0.664 -5.111,-1.08zM24.474,71.003c-0.924,0 -1.736,-0.195 -2.413,-0.579c-1.19,-0.676 -2.051,-1.977 -2.557,-3.869c-0.831,-2.845 -0.737,-6.592 0.218,-10.933c3.176,0.814 6.592,1.428 10.175,1.826c2.075,2.766 4.246,5.313 6.468,7.588c-4.515,3.857 -8.712,5.968 -11.891,5.967v0zM50.098,57.45c3.584,-0.399 7.001,-1.012 10.178,-1.826c1.105,4.74 1.192,8.518 0.217,10.932c-0.505,1.889 -1.364,3.188 -2.552,3.861c-0.678,0.384 -1.49,0.579 -2.413,0.579v1l-0.001,-1c-3.18,0 -7.377,-2.11 -11.891,-5.961c2.22,-2.273 4.389,-4.819 6.462,-7.585zM40,61.62c-1.12,-1.148 -2.234,-2.379 -3.33,-3.68c1.12,0.04 2.234,0.06 3.33,0.06c1.095,0 2.208,-0.02 3.327,-0.06c-1.095,1.301 -2.208,2.532 -3.327,3.68z'
            ></path></g
          ></g
        ></g
      >
    </svg>
  </HardSkillItem>
  <HardSkillItem name='Astro'>
    <img class='h-[100] w-[100]' src='/astro.svg' alt='Astro' />
  </HardSkillItem>
  <HardSkillItem name='Next.Js'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      x='0px'
      y='0px'
      width='100'
      height='100'
      viewBox='0 0 48 48'
    >
      <path
        fill='#212121'
        d='M18.974,31.5c0,0.828-0.671,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-14c0-0.653,0.423-1.231,1.045-1.43 c0.625-0.198,1.302,0.03,1.679,0.563l16.777,23.704C40.617,36.709,44,30.735,44,24c0-11-9-20-20-20S4,13,4,24s9,20,20,20 c3.192,0,6.206-0.777,8.89-2.122L18.974,22.216V31.5z M28.974,16.5c0-0.828,0.671-1.5,1.5-1.5s1.5,0.672,1.5,1.5v13.84l-3-4.227 V16.5z'
      ></path>
    </svg>
  </HardSkillItem>
  <HardSkillItem name='Nest.Js'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      x='0px'
      y='0px'
      width='100'
      height='100'
      viewBox='0 0 48 48'
    >
      <path
        fill='#f50057'
        d='M24.5,32.88c0,0-0.01-0.04-0.02-0.12C24.5,32.84,24.5,32.88,24.5,32.88z'
      ></path><path
        fill='#f50057'
        d='M27.375,8.625c0,0-0.375-1.375,0.125-2.5s0.5-1.875-0.5-3c2-0.125,2.75,1.25,2.75,1.25l0.025,0.159 c0.118,0.766-0.278,1.494-0.946,1.888C28.219,6.781,27.563,7.437,27.375,8.625z'
      ></path><path
        fill='#f50057'
        d='M41.63,36.24c0.02-0.21,0.34-3.04-0.38-4.36c-1.5,4.24-3,8.12-7.37,10.87 c0.62-1.25,1.62-3.25,2.62-6.25c-3,4-9,8-13.5,8.25c3.04-1.68,4.75-3.84,5.5-5.25c0,0-1.75,0.5-3.88,0.75 c2.88-1.75,4.88-4.87,3.88-9.75c-2,6.25-4.75,8.25-8.38,8.62c-3.62,0.38-6.87-1.5-6.87-1.5l1.25-0.12c0,0-3.25-2.5-2.12-5.75 c0.05-0.16,0.11-0.31,0.18-0.45c0.82-1.82,3.61-0.9,3.32,1.07v0.01c0,0,0.87,2.37,3.24,1.74c0.76-1.24,1.26-2.5,1.26-2.5l0.37,1.63 c0,0,1.75-0.75,1.75-2.13c1.5,0.57,1.88,1.28,1.97,1.59c-0.26-1.4-2.52-11.03-14.49-10.89l-2.09,1.94 c-0.14,0.13-0.36,0.02-0.34-0.16L7.71,22l0.14-0.14c-0.04,0.01-0.09,0-0.13,0L7.71,22l-0.82,0.76c-0.14,0.13-0.36,0.02-0.34-0.16 l0.1-1.02c-1.74-0.74-1.9-2.7-1.9-2.7S2.58,18.27,3.5,15.5C4,14,5.2,13.85,5.71,13.97c0.65,0.15,1.32,0.16,1.94-0.09 c0.9-0.36,2.05-1.05,2.85-2.38C12,9,14.25,8,19.12,8c6.45,0,9.05,1.98,9.35,2.22c-0.18-0.21-1.27-1.66,1.03-3.84 c2.27-2.16,1.86-2.67,1.77-2.75c0.34,0.1,4.75,1.6,5.23,7.37c0.5,6-6.5,7.25-6.5,7.25s9,1.75,9.12-6.75 c1.76,1,5.38,4.75,5.88,12.88C45.49,32.26,41.84,36.03,41.63,36.24z'
      ></path><path
        fill='#f50057'
        d='M7.85,21.86L7.71,22l0.01-0.14C7.76,21.86,7.81,21.87,7.85,21.86z'
      ></path><path
        fill='#f50057'
        d='M7.85,21.86L7.71,22l0.01-0.14C7.76,21.86,7.81,21.87,7.85,21.86z'
      ></path>
    </svg>
  </HardSkillItem>
  <HardSkillItem name='Yii2 Framework'>
    <svg
      height='100'
      width='100'
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      viewBox='0 0 650.832 800'
      style='enable-background:new 0 0 650.832 800;'
    >
      <style type='text/css'>
        .st0 {
          fill: #40b3d8;
        }
        .st1 {
          fill: #83c933;
        }
        .st2 {
          fill-rule: evenodd;
          clip-rule: evenodd;
          fill: #f18a2a;
        }
        .st3 {
          fill: #7fb93c;
        }
      </style>
      <g id='Слой-1'>
        <g>
          <path
            class='st0'
            d='M481.395,508.535c-5.4-71.26-28.382-117.45-39.574-143.628c-11.187-26.174-28.387-50.675-28.398-50.637
			c-0.033,0.112-15.486,83.388-43.271,143.639c-4.638,10.064-10.797,22.626-17.013,32.744l0.002,0.001
			c-19.183,33.866-47.013,66.265-63.604,99.105c-16.449,32.546-19.501,64.78-17.97,101.427
			c1.543,36.85,10.054,72.992,18.227,108.816c30.81-6.647,57.628-18.023,80.825-32.563c61.05-38.274,97.939-99.492,108.423-165.444
			c0,0,0.511-2.678,0.738-5.945C484.509,545.078,482.945,528.996,481.395,508.535z'
          ></path>
          <path
            class='st1'
            d='M481.395,508.535c-5.4-71.26-28.382-117.45-39.574-143.628c-11.187-26.174-28.387-50.675-28.398-50.637
			c0,0-0.004,0.017-0.004,0.018c0.001-0.011,0.004-0.023,0.004-0.023l-4.106-6.105c-90.029-126.38-262.69-189.479-408.57-130.996
			c-7.024,88.584,34.046,241.004,183.875,283.517c60.572,18.634,109.076,13.803,168.521,29.966
			c-0.003,0.002-0.003,0.004-0.005,0.005c0,0,60.424,21.058,95.576,52.638c15.813,14.202,31.646,32.891,30.851,55.121
			C484.574,545.505,482.97,529.32,481.395,508.535z'
          ></path>
          <g transform='matrix(1,0,0,1,233.564,496.875)'>
            <path
              class='st2'
              d='M182.406-256.769c-21.289-62.282-12.267-104.016,26.679-162.096c18.575-27.711,50.648-59.854,78.756-78.01
				C401.25-425.808,443.183-293.436,401.476-170.5c-30.354,89.45-58.833,126.955-130.84,218.99
				c8.393-98.569-26.297-166.901-60.359-242.831C201.61-213.659,189.622-235.652,182.406-256.769'
            ></path>
          </g>
          <g transform='matrix(1,0,0,1,245.403,498.558)'>
            <path
              class='st3'
              d='M234.164,99.853c0.795-22.23-15.038-40.919-30.852-55.121c-35.152-31.579-95.574-52.637-95.574-52.637
				c6.217-10.118,12.375-22.681,17.012-32.745c27.786-60.252,43.239-143.526,43.272-143.639c0.011-0.038,17.21,24.464,28.398,50.637
				c11.193,26.179,34.175,72.368,39.574,143.628C237.567,30.761,239.171,46.947,234.164,99.853z'
            ></path>
          </g>
        </g>
      </g>
    </svg>
  </HardSkillItem>
  <HardSkillItem name='Express.Js'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      x='0px'
      y='0px'
      width='100'
      height='100'
      viewBox='0 0 50 50'
    >
      <path
        d='M49.729 11h-.85c-1.051 0-2.041.49-2.68 1.324l-8.7 11.377-8.7-11.377C28.162 11.49 27.171 11 26.121 11h-.85l10.971 14.346L25.036 40h.85c1.051 0 2.041-.49 2.679-1.324L37.5 26.992l8.935 11.684C47.073 39.51 48.063 40 49.114 40h.85L38.758 25.346 49.729 11zM21.289 34.242c-2.554 3.881-7.582 5.87-12.389 4.116C4.671 36.815 2 32.611 2 28.109L2 27h12v0h11l0-4.134c0-6.505-4.818-12.2-11.295-12.809C6.273 9.358 0 15.21 0 22.5l0 5.573c0 5.371 3.215 10.364 8.269 12.183 6.603 2.376 13.548-1.17 15.896-7.256 0 0 0 0 0 0h-.638C22.616 33 21.789 33.481 21.289 34.242zM2 22.5C2 16.71 6.71 12 12.5 12S23 16.71 23 22.5V25H2V22.5z'
      ></path>
    </svg>
  </HardSkillItem>
</div>
